<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel="stylesheet" type="text/css" href="/javascripts/ext-4.2.1.883/resources/css/ext-all.css" />
	<script type="text/javascript" src="/javascripts/ext-4.2.1.883/ext-all-debug.js"></script>
	<script type="text/javascript" src="/javascripts/ext-4.2.1.883/locale/ext-lang-zh_CN.js"></script>

	<script>
	</script>
	<script type="text/javascript" src="/javascripts/login.js"> </script>
  </head>
  <body>
  </body>
</html>