<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>app</title>

    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>

    <!--
    <script type="text/javascript">
        var Ext = Ext || {}; // Ext namespace won't be defined yet...

        // This function is called by the Microloader after it has performed basic
        // device detection. The results are provided in the "tags" object. You can
        // use these tags here or even add custom tags. These can be used by platform
        // filters in your manifest or by platformConfig expressions in your app.
        //
        Ext.beforeLoad = function (tags) {
            var s = location.search,  // the query string (ex "?foo=1&bar")
                profile;

            // For testing look for "?classic" or "?modern" in the URL to override
            // device detection default.
            //
            if (s.match(/\bclassic\b/)) {
                profile = 'classic';
            }
            else if (s.match(/\bmodern\b/)) {
                profile = 'modern';
            }
            else {
                profile = tags.desktop ? 'classic' : 'modern';
                //profile = tags.phone ? 'modern' : 'classic';
            }

            Ext.manifest = profile; // this name must match a build profile name

            // This function is called once the manifest is available but before
            // any data is pulled from it.
            //
            //return function (manifest) {
                // peek at / modify the manifest object
            //};
        };
    </script>
    -->

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="5766b8a4-ecb6-43d6-9288-75b308311244" type="text/javascript" src="app/bootstrap.js"></script>

    <script type="text/javascript">
        /**
        *对Date的扩展，将 Date 转化为指定格式的String
        * 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
        * 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
        * 例子：
        * (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
        * (new Date()).Format("yyyy-M-d h:m:s.S")==> 2006-7-2 8:9:4.18
        *
        */
        Date.prototype.Format = function(fmt)
        {
          let o = {
            "M+" : this.getMonth()+1, //月份
            "d+" : this.getDate(),//日
            "h+" : this.getHours(), //小时
            "m+" : this.getMinutes(), //分
            "s+" : this.getSeconds(), //秒
            "q+" : Math.floor((this.getMonth()+3)/3),//季度
            "S": this.getMilliseconds() //毫秒
          };
          if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
          }
          for(let k in o){
            if(new RegExp("("+ k +")").test(fmt)){
              fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
          }
          return fmt;
        };
        ///
        //
        String.fromUnicode = function(val) {
           var str =''; 
           for(var i = 0; i < val.length; i++){
              str += String.fromUINT16(val.charCodeAt(i));
           }
           return str;
        };
        String.fromUINT32 = function(val) {
            if (val < 0xff) {
                return this.fromCharCode(val, 0, 0, 0);
            } else if (val < 0xffff) {
                return this.fromCharCode(val & 0xff, (val & 0xff00) >> 8,  0, 0);
            } else if (val < 0xffffff) {
                return this.fromCharCode(val & 0xff, (val & 0xff00) >> 8, (val & 0xff0000) >> 16,    0);
            } else {
                return this.fromCharCode(val & 0xff, (val & 0xff00) >> 8, (val & 0xff0000) >> 16,  (val & 0xff000000) >> 24);
            }
        };
        String.fromUINT16 = function(val) {
            if (val < 0xff) {
                return this.fromCharCode(val, 0);
            } else {
                return this.fromCharCode(val & 0xff, (val & 0xff00) >> 8);
            }
        }
        String.fromUINT8 = function(val) {
            if (val < 0xff) {
                return this.fromCharCode(val);
            } else {
                return this.fromCharCode(val & 0xff);
            }
        };
        String.getUINT32 = function(val, pos) {
            var ind = pos.ind;
            if (val.length > ind + 3) {
                var ret = (val[ind] & 0xff) + 
                    ((val[ind + 1] & 0xff) << 8) +
                    ((val[ind + 2] & 0xff) << 16) + 
                    ((val[ind + 3] & 0xff) << 24);
                pos.ind += 4;
                return ret;
            } else {
                return 0;
            }
        }
        String.getUINT32 = function(val, pos) {
        	var ret = 0;
        	if (val.length > pos.ind + 3) {
        		var ind = pos.ind;
        		ret = (val[ind] & 0xff) +
        			  ((val[ind + 1] & 0xff) << 8) + 
        			  ((val[ind + 2] & 0xff) << 16) +
        			  ((val[ind + 3] & 0xff) << 24);
        		pos.ind += 4;
        	}
        	return ret;
        }
    </script>
    <style type="text/css">
        /**表格自动换行*/
        .x-column-header-text { white-space:normal !important; }


        * {
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: '微软雅黑'
        }
        #MsgContainer {
            width: 80%;
            height: 300px;
            background: #eee;
            margin: 0 auto 0;
            position: relative;
            box-shadow: 20px 20px 55px #777;
        }
        .header {
            background: #000;
            height: 34px;
            color: #fff;
            line-height: 34px;
            font-size: 20px;
            padding: 0 10px;
        }
        .footer {
            width: 430px;
            height: 50px;
            background: #666;
            position: absolute;
            bottom: 0;
            padding: 10px;
        }
        .footer input {
            width: 275px;
            height: 45px;
            outline: none;
            font-size: 20px;
            text-indent: 10px;
            position: absolute;
            border-radius: 6px;
            right: 80px;
        }
        .footer span {
            display: inline-block;
            width: 62px;
            height: 48px;
            background: #ccc;
            font-weight: 900;
            line-height: 45px;
            cursor: pointer;
            text-align: center;
            position: absolute;
            right: 10px;
            border-radius: 6px;
        }
        .footer span:hover {
            color: #fff;
            background: #999;
        }
        #icon {
            display: inline-block;
            background: red;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            position: absolute;
            bottom: 6px;
            left: 14px;
            cursor: pointer;
            overflow: hidden;
        }
        img {
            width: 60px;
            height: 60px;
        }
        .content {
            font-size: 20px;
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 5px;
        }
        .content li {
            margin-top: 10px;
            padding-left: 10px;
            width: 100%;
            display: block;
            clear: both;
            overflow: hidden;
        }
        .content li img {
            float: left;
        }
        .content li span{
            background: #7cfc00;
            padding: 10px;
            border-radius: 10px;
            float: left;
            margin: 6px 10px 0 10px;
            max-width: 310px;
            border: 1px solid #ccc;
            box-shadow: 0 0 3px #ccc;
        }
        .content li img.imgleft { 
            float: left; 
        }
        .content li img.imgright { 
            float: right; 
        }
        .content li span.spanright { 
            float: right;
            background: #7cfc00;
        }
        .content li span.spanleft { 
            float: left;
            background: #fff;
        }
        .content li span.spanerror {
            float: left;
            background: #f00000;
        }

        .content li span.spanright:before{
            content: "";
            /*
            border-left: 15px solid #7cfc00;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent transparent transparent #000; 
            float: right;
            left: 26px;
            position: relative;
        }
        .content li span.spanright:after{
            content: "";
            /*
            border-left: 15px solid #7cfc00;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent transparent transparent #7cfc00; 
            float: right;
            left: 42px;
            position: relative;
        }
        .content li span.spanleft:before{
            content: "";
            /*
            border-right: 15px solid #fff;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent #000 transparent transparent; 
            float: left;
            left: -26px;
            position: relative;
        }
        .content li span.spanleft:after{
            content: "";
            /*
            border-right: 15px solid #fff;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent #fff transparent transparent; 
            float: left;
            left: -42px;
            position: relative;
        }
        .content li span.spanerror:before{
            content: "";
            /*
            border-right: 15px solid #f00000;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent #000 transparent transparent; 
            float: left;
            left: -26px;
            position: relative;
        }
        .content li span.spanerror:after{
            content: "";
            /*
            border-right: 15px solid #fff;
            border-top: 8px solid transparent;
            border-bottom: 10px solid transparent;*/
            border-width:8px; 
            border-style:solid; 
            border-color:transparent #f00000 transparent transparent; 
            float: left;
            left: -42px;
            position: relative;
        }
    </style>
</head>
<body></body>
</html>
